# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.env

# JavaScript/Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnp/
.pnp.js
coverage/
build/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Large files and datasets
*.zip
DNA_DATASET/
*.ipynb

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Local configuration
.env
.env.local